/* Shop By Category */

.catagoryImg img {
  transition-duration: 3s;
}
.catagoryImg img:hover {
  transform: scale(1.2);
}

.shopButton,
.shopButton:hover {
  transition: 0.5s;
}

.shopCategoryBtnIcon {
  transition: 0.1s;
}
